In [ ]:
a=int(input("Value of a:"))
b=int(input("Value of b:"))
sum=a+b
print("Sum",sum)

In [7]:
x=10.5
print(x)
x="ayush"
print(x)

10.5
ayush

In [ ]:
### jljlkdls

In [8]:
x,y,z=10.5,2,"Ayush"
print(x)
print(y)
print(z)

10.5
2
Ayush

In [11]:
x="ayush"
y=10
z=10.5
print(type (x))
print(type (y))
print(type (z))

<class 'str'>
<class 'int'>
<class 'float'>

In [13]:
x=10
y=3
add=x+y
sub=x-y
mul=x*y
div=x/y
mod=x%y
exp=x**y
floor=x//y
print(add)
print(sub)
print(mul)
print(div)
print(mod)
print(exp)
print(floor)

13
7
30
3.3333333333333335
1
1000
3

In [ ]:
## Basic operator

In [14]:
x=10
y=3

print(x==y)
print(x<y)
print(x>y)
print(x>=y)
print(x<=y)

False
False
True
True
False

In [22]:
x=10
y=3

print(x<y and x<=y)
print(x>y or y<x)
print(not(x>y))

False
True
False

In [25]:
x=10
y=10

print(x is y)
print(x is not y)

True
False

In [32]:
x=[10,20,30]
y=2
z=3
print(y in x)
print(z not in x)

False
True

In [36]:
## BITWISE OPERATOR
x=10
y=20
print(x<<y)
print(x&y)

10485760
0